{{define "header"}}
<!DOCTYPE html>
<html>
    <head>
	<!-- Required meta tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<!-- Bootstrap CSS -->
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
	<title>{{block "title" .}}{{.Title}}{{end}}</title>
    </head>
    <body class="d-flex flex-column h-100">
	<header style="user-select: auto;">
	    {{template "navbar" . }}
	</header>
	<main class="flex-shrink-0 py-5" style="user-select: auto;">
{{end}}
