{{define "navbar"}}
<nav class="navbar sticky-top navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
	<a class="navbar-brand" href="/">Youtube Fetcher</a>
	<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
	    <span class="navbar-toggler-icon"></span>
	</button>
	<div class="collapse navbar-collapse" id="navbarSupportedContent">
	    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
		<li class="nav-item">
		    <a class="nav-link" aria-current="page" href="/channels/">Channels</a>
		</li>
		<li class="nav-item">
		    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
			Download
		    </button>
		</li>
	    </ul>
	    <form class="d-flex" action="/search/" method="GET">
		<input class="form-control me-2" type="search" name="s" placeholder="Search" aria-label="Search">
		<button class="btn btn-outline-success" type="submit">Search</button>
	    </form>
	</div>
    </div>
</nav>
<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
	<div class="modal-content" style="user-select: auto;">
	    <form action="http://localhost:1234/" method="GET" style="user-select: auto;">
		<div class="modal-header" style="user-select: auto;">
		    <h5 class="modal-title" id="exampleModalLabel" style="user-select: auto;">Download Youtube</h5>

		    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" style="user-select: auto;"></button>
		</div>
		<div class="modal-body" style="user-select: auto;">
		    <div class="btn-group btn-group-sm mb-2" role="group" aria-label="Basic radio toggle button group" style="user-select: auto;">
			<input type="radio" class="btn-check" name="720p" id="btnradio1" autocomplete="off" checked="" style="user-select: auto;">
			<label class="btn btn-outline-secondary" for="btnradio1" style="user-select: auto;">720p</label>
			<input type="radio" class="btn-check" name="1080p" id="btnradio2" autocomplete="off" style="user-select: auto;">
			<label class="btn btn-outline-secondary" for="btnradio2" style="user-select: auto;">1080p</label>
		    </div>
		    <div class="form-floating mb-3" style="user-select: auto;">
			<input class="form-control" name="v" id="videoid"  placeholder="YouTube VideoID or YouTube Video Url" style="user-select: auto;">
			<label for="videoid" style="user-select: auto;">YouTube VideoID / Url</label>
		    </div>
		    <div class="float-end mb-3" style="user-select: auto;">
			<button type="submit" class="btn btn-primary" style="user-select: auto;">Download</button>
		    </div>
		</div>
	    </form>
	</div>
    </div>
</div>
{{end}}
